<div class="signup">
  <h2>Log In</h2>

  <form action="/auth/login" method="POST" id="form-container">
    <div class="signup-form">
      <div class="signup-username">
        <label for="username">Username</label>
        <input id="username" type="text" name="username" placeholder="JonSnow">
      </div>
      <div class="signup-password">
        <label for="password">Password</label>
        <input id="password" type="password" name="password" placeholder="Your password">
      </div>
      {{#if message }}
      <div class="error-message">{{ message }}</div>
      {{/if}}


      <button>Log In</button>

      <p class="account-message">
        Don't have an account yet?
        <a href="/auth/signup">Signup</a>
      </p>
    </div>
  </form>
</div>