{{user.username}}
<div class="admin-add">
  <h2>Add Movie</h2>
  <div class="admin-movie-add">
    <form action="/movie/add" method="post">
      <p><label>Netflix id: </label><input type="text" name="netflixid"></p>
      <p><label>Title: </label><input type="text" name="title"></p>
      <p><label>Image: </label><input type="text" name="image"></p>
      <p><label>Synopsis: </label><input type="text" name="synopsis"></p>
      <p><label>Rating: </label><input type="text" name="rating"></p>
      <p><label>Type: </label><input type="text" name="type"></p>
      <p><label>Released: </label><input type="text" name="released"></p>
      <p><label>Larg image: </label><input type="text" name="largimage"></p>
      <p><label>Unogs Date: </label><input type="text" name="unogsdate"></p>
      <p><label>Imdbid: </label><input type="text" name="imdbid"></p>
      <p><label>Download: </label><input type="text" name="download"></p>
      <p><label>imdbrating: </label><input type="text" name="imdbrating"></p>
      <div class="admin-button">
        <button type="submit">Add</button>
        <button type="reset">Clear</button>
      </div>
    </form>
  </div>
</div>