<div class="admin-add">
  <h2>Add Movie</h2>
  <div class="admin-movie-add">
    <form action="/edit" method="post">
      <p><label>Netflix id: </label><input type="text" name="netflixid"></p>
      <p><label>Title: </label><input type="text" name="title"></p>
      <p><label>Image: </label><input type="text" name="image"></p>
      <p><label>Synopsis: </label><input type="text" name="synopsis"></p>
      <p><label>Genre: </label><input type="text" name="genre"></p>
      <p><label>Type: </label><input type="text" name="type"></p>
      <p><label>Released: </label><input type="text" name="released"></p>
      <p><label>Larg image: </label><input type="text" name="largeimage"></p>
      <p><label>Unogs Date: </label><input type="text" name="unogsdate"></p>
      <p><label>Imdbid: </label><input type="text" name="imdbid"></p>
      <p><label>Download: </label><input type="text" name="download"></p>
      <p><label>imdbrating: </label><input type="text" name="imdbrating"></p>
      <div class="admin-button">
        <button type="submit">Add</button>
        <button type="submit">Fill</button>
        <button type="submit">Edit</button>
      </div>
    </form>
  </div>
</div>

{{!-- <h2>Edit Delete Movie</h2>
<div id="movie-edit">
  solo pasar de 20 en 20 las peliculas
{{#each movie}}
{{movie.title}}
<a href="??">Edit</a>
<a href="??">Delete</a>
{{/each}} --}}
<div class="admin-delete">
  <div class="admin-delete-h2">
    <h2>Borrar Pelicula</h2>
  </div>
  <div class="admin-movie-delete">
    <div id="clear-movie">
      <form action="/movie/delete" method="post">
        <p><label>Netflix id: </label><input type="text" name="netflixid"></p>
        <button type="submit">Clear</button>
      </form>
    </div>
  </div>
</div>