{{user.username}}
<h2>user list</h2>
<div id="user-list">
  {{#each user}}
  {{user._id}}
  {{user.username}}
  <a href="??">Edit</a>
  <a href="??">Delete</a>
  {{/each}}
</div>
<h2>Add Movie</h2>
<div id="movie-add">
  <form action="/movie/add" method="post">
    <label>netflixid:</label>
    <input type="text" name="netflixid">
    <label>Title:</label>
    <input type="text" name="title">
    <label>Image:</label>
    <input type="text" name="image">
    <label>Synopsis:</label>
    <input type="text" name="synopsis">
    <label>Rating:</label>
    <input type="text" name="rating">
    <label>Type:</label>
    <input type="text" name="type">
    <label>Released:</label>
    <input type="text" name="released">
    <label>Larg image:</label>
    <input type="text" name="largimage">
    <label>unogsdate:</label>
    <input type="text" name="unogsdate">
    <label>imdbid:</label>
    <input type="text" name="imdbid">
    <label>download:</label>
    <input type="text" name="download">
    <label>imdbrating:</label>
    <input type="text" name="imdbrating">
    <button type="submit">Add</button>
    <button type="reset">Clear</button>
  </form>
</div>
<h2>Edit Delete Movie</h2>
<div id="movie-edit">
  {{!-- solo pasar de 20 en 20 las peliculas--}}
  {{#each movie}}
  {{movie.title}}
  <a href="??">Edit</a>
  <a href="??">Delete</a>
  {{/each}}
</div>