<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
  {{!-- google fonts --}}
  <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400&display=swap" rel="stylesheet">
  {{!-- jquery --}}
</head>

<body>
  <header class="nav-bar">
    <a href="/" class="nav-icon">
      <img src="/images/popcorn-icon.svg" alt="home">
    </a>
    <nav>
      <ul>
        <li>
          {{#if_eq thisUser.userLoged 'user'}}
          <a href="/user">User Profile</a>
          <a href="/auth/logout">Log out</a>
          {{/if_eq}}
        </li>
        <li>

          {{#if_eq thisUser.userLoged 'admin'}}
          <a href="/user">User Profile</a>
          <a href="/admin">Admin Profile</a>
          <a href="/auth/logout">Log out</a>
          {{/if_eq}}
        </li>
        <li>

          {{#if_eq thisUser.userLoged 'noLog'}}
          <a href="/auth/signup">Sign up</a>
          <a href="/auth/login">Log in</a>
          {{/if_eq}}
        </li>
      </ul>
    </nav>
  </header>



  {{{body}}}
  <footer>
    <p>&copy;What Watch Now. Done by: <a href="https://www.linkedin.com/in/sachin-tekchandani" target="_blank">Sachin
        Tekchandani Pursnani</a> &
      <a href="https://www.linkedin.com/in/juan-antonio-perez-gago/" target="_blank">Juan Antonio Pérez
        Gago</a>, Special Thanks: <a href="https://www.google.com/" target="_blank">Google</a>,
      <a href="https://stackoverflow.com/" target="_blank">Stack Overflow</a>, <a
        href="https://www.linkedin.com/showcase/ironhack-madrid-campus/" target="_blank">Ironhack</a>, <a
        href="https://www.linkedin.com/in/gabrielceb/" target="_blank">Gabriel Cebrián
        Lucas</a>, <a href="https://www.linkedin.com/in/germancreativodigital/" target="_blank">Germán Álvarez</a> y
      <a href="https://www.linkedin.com/in/gomezortiz/" target="_blank">David G. Ortiz</a></p>
  </footer>

  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="/javascripts/script.js"></script>
</body>

</html>