$orangeGradient: linear-gradient(
  to bottom,
  #ffbe06,
  #ffad00,
  #ff9c00,
  #ff8a00,
  #ff7800,
  #ff6e00,
  #ff6301,
  #ff5704,
  #ff5203,
  #ff4d01,
  #ff4801,
  #ff4200
);
$blackGradient: linear-gradient(
  to right bottom,
  #2e2e2e,
  #292929,
  #232323,
  #1e1e1e,
  #191919,
  #181818,
  #171717,
  #161616,
  #191919,
  #1c1c1c,
  #202020,
  #232323
);
$greyGradient: linear-gradient(
  to right top,
  #2e2e2e,
  #292929,
  #232323,
  #1e1e1e,
  #191919,
  #181818,
  #171717,
  #161616,
  #191919,
  #1c1c1c,
  #202020,
  #232323
);
$blackDropdown: url(http://i62.tinypic.com/15xvbd5.png),
  linear-gradient(
    to bottom,
    #2e2e2e,
    #292929,
    #232323,
    #1e1e1e,
    #191919,
    #181818,
    #171717,
    #161616,
    #191919,
    #1c1c1c,
    #202020,
    #232323
  );
body {
  padding: 0px;
  margin: 0;
  font: 14px "Montserrat", sans-serif;
  background: $greyGradient;
  color: white;
  background-repeat: no-repeat;
  min-height: 100vh;
  background-size: cover;
}
// -------Header with navbar starts here--------//
.nav-bar {
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  align-items: center;
}
.nav-icon {
  margin: 10px 0 0 10px;
}
.nav-bar ul {
  text-decoration: none;
  margin: 0 10px 0 0;
}
.nav-bar li {
  display: inline-block;
  margin: 0 15px;
}
.nav-bar li a {
  font-size: 1.25em;
  text-decoration: none;
  padding: 10px 5px;

  color: white;
}
.nav-bar img {
  height: 4em;
  margin: 5px 10px;
}
//
//
//-------Text align center starts here--------//
.index-select,
.index-select button,
.index-title,
footer {
  text-align: center;
}
//
//
//-------display block starts here--------//
.index-select select,
.list-select select {
  display: block;
}
//
//-------Genre Select Index bar & button starts here--------//
.index-select select {
  background-image: $blackDropdown;
  -webkit-appearance: button;
  border-radius: 5px;
  box-shadow: 0px 1px 3px rgba(44, 44, 44, 0.1);
  -webkit-padding-end: 20px;
  -webkit-padding-start: 2px;
  user-select: none;
  height: 1.9em;
  width: 26em;
  background-position: 97% center;
  background-repeat: no-repeat;
  border: 1px solid #aaa;
  color: rgb(255, 255, 255);
  font-size: 1.7em;

  overflow: hidden;
  padding: 0 25px;
  text-overflow: ellipsis;
  white-space: nowrap;

  margin: 0 auto;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
}
.index-select option {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  color: black;
}

.index-select button {
  background-image: $orangeGradient;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: white;
  font-size: 1.5em;
  padding: 0.5em 2em;
  margin-top: 20px;
  border: 1px;
  border-radius: 5px;
}
.index-title h1 {
  background-image: $orangeGradient;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 5em;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.index-title img {
  height: 1em;
}
// .index-carusel-headder {
//   margin-top: 50px;
//   text-align: center;
//   h2 {
//     font-size: 2em;
//     font-weight: 300;
//   }
// }
//
//
//-------movie-list starts here--------//
#movies-card {
  display: flex;
  max-width: 1599px;
  flex-wrap: wrap;
  justify-content: space-around;
}
.second-header {
  text-align: center;
  margin-top: -60px;
  h2 {
    background-image: $orangeGradient;
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    font-size: 2.5em;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
.card {
  background-image: $blackGradient;
  padding: 5px;
  border-radius: 5px;
  min-width: 200px;
  max-width: 600px;
  margin-top: 50px;
}
.card-image img {
  height: 250px;
}
.card a {
  text-decoration: none;
  color: whitesmoke;
  display: flex;
}
.card-text h4,
.card-text h3,
.card-text p {
  text-align: left;
  margin-block-start: 0;
  margin-block-end: 0;
}
.card-text p {
  margin-left: 10px;
}
.card-text h4,
.card-text h3 {
  margin: 1em;
}
.list-select {
  display: flex;
  align-items: center;
  justify-content: center;
}
.list-select select {
  background-image: $blackDropdown;
  -webkit-appearance: button;
  border-radius: 5px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
  -webkit-padding-end: 20px;
  -webkit-padding-start: 2px;
  user-select: none;
  background-position: 97% center;
  background-repeat: no-repeat;
  border: 1px solid #aaa;
  color: white;
  font-size: 2em;
  height: 1.4em;
  overflow: hidden;
  padding: 5px 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 20em;
  margin: 0 15px 0 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
}
.list-select option {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  color: black;
}
.list-select button {
  background-image: $orangeGradient;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: white;
  font-size: 1.5em;
  padding: 0.3em 1em;
  border: 1px;
  border-radius: 5px;
}
//
//
//-------movie-detail starts here--------//
.detail-page {
  margin-top: -10px;
  a {
    text-decoration: none;
    color: white;
    .button {
      img {
        height: 2em;
        margin-left: 40px;
      }
    }
    &:hover {
      text-decoration: none;
    }
  }

  .detail-movie {
    display: flex;
    align-items: center;
    .detail-img img {
      margin-top: 50px;
      margin-left: 50px;
      height: 500px;
      border-radius: 5px;
    }
    .svg-opinion {
      margin-top: 45px;
      display: flex;
      justify-content: space-around;
      img {
        height: 6em;
      }
    }
    .detail-text {
      display: flex;
      flex-direction: column;
      margin-left: 100px;
      .detail-query {
        font-weight: 300;
      }
      h2 {
        .detail-definition {
          font-size: 2em;
        }
      }
      h3 {
        .detail-definition {
          font-size: 1.3em;
        }
      }
      h4 {
        .detail-definition {
          font-size: 1.2em;
        }
      }
      .detail-definition {
        margin-left: 5px;
      }
    }
  }
}
//
//
//-------signup starts here--------//
.signup {
  margin: 150px 40vw;
  text-align: center;
  .signup-username,
  .signup-password {
    margin-bottom: 50px;
    label {
      display: block;
      text-align: left;
      font-size: 1.2em;
      font-weight: 300;
    }
    input {
      border: 1px;
      border-radius: 2px;
      width: 100%;
      padding: 10px 0px;
      margin: 8px 0;
      display: block;
      margin: auto;
      font-size: 1.2em;
    }
  }
  button {
    width: 100%;
    padding: 12px 0px;
    background-image: $orangeGradient;
    border: 1px;
    border-radius: 5px;
  }
  a {
    text-decoration: none;
    color: #ff5704;
    &:hover {
      text-decoration: none;
    }
  }
  h2 {
    font-size: 2em;
    font-weight: 300;
  }
}
//
//
//-------user starts here--------//
.user {
  #user-Favorite,
  #user-Blacklist,
  #user-viewed {
    display: flex;
    align-items: center;
  }
  .user-imgList {
    display: flex;
  }
  a {
    text-decoration: none;
    color: white;
    &:hover {
      text-decoration: none;
    }
  }
  .button {
    img {
      height: 2em;
      margin-left: 34px;
      margin-top: 10px;
    }
  }
  .user-img img {
    margin-left: 3em;
    border-radius: 5px;
    height: 150px;
  }
  .user-svg img {
    width: 5.5em;
    margin-left: 10px;
  }
  h2 {
    margin-left: 6em;
  }
}
//
//
//-------user starts here--------//
.admin-add {
  text-align: center;
  h2 {
    font-size: 2.2em;
    font-weight: 300;
  }
  form {
    display: flex;
    max-height: 600px;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-end;
    margin-right: 20vw;
    input {
      padding: 12px 20px;
      margin: 8px 0 8px 5px;
      border-radius: 5px;
    }
    .admin-button {
      display: flex;
      flex-direction: row;
    }
    button {
      margin-left: 40px;
      padding: 12px 30px;
      background-image: $orangeGradient;
      border: 1px;
      border-radius: 5px;
    }
  }
}
.admin-delete {
  margin-bottom: 100px;
  h2 {
    font-size: 2.2em;
    font-weight: 300;
  }
  text-align: center;

  form {
    margin-left: 22em;
    display: flex;
    align-items: center;
  }
  button,
  input {
    margin-left: 20px;
  }
  input {
    padding: 12px 20px;
    margin: 8px 0 8px 5px;
    border-radius: 5px;
  }
  button {
    margin-left: 40px;
    padding: 0 30px;
    background-image: $orangeGradient;
    border: 1px;
    border-radius: 5px;
    height: 3.333333em;
  }
  .admin-movie-delete {
    display: inline;
  }
}
footer {
  background-color: black;
  color: white;
  // position: fixed;
  padding: 10px 0;
  bottom: 0;
  width: 100%;
}

footer a {
  text-decoration: none;
  color: greenyellow;
}

//
//
//
//
//
//
//
//
@import url(https://fonts.googleapis.com/css?family=PT+Sans);

.carousel-img {
  display: inline-block;
  // width: 150px;
  height: 250px;
  margin-right: 5px;
}

.carousel {
  width: 100%;
  height: 270px;
  overflow: hidden;
  padding: 8px;
  // box-sizing: border-box;
  border: 1px;
  // border: 1px solid #999;
  // box-shadow: 0 0 4px #000;
  margin: 50px auto 0 auto;
  border-radius: 5px;
}

.holder {
  animation: carousel 25s linear infinite;
  white-space: nowrap;
  will-change: transform;

  &:hover {
    animation-play-state: paused;
  }
}

@keyframes carousel {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0);
  }
}

.shown {
  display: block;
}

.unshown {
  display: none;
}
